server:
  port: 8888
eureka:
  client:
    service-url:
      defaultZone: http://admin:admin@localhost:8761/eureka/
management:
 endpoints:
    web:
      exposure:
        include: health, info, refresh, bus